In [2]:
import pandas as pd

In [47]:
land_cover_2013 = pd.read_csv('land_cover_2013.csv')
land_cover_2016 = pd.read_csv('land_cover_2016.csv')
land_cover_2004 = pd.read_csv('land_cover_2004.csv')
land_cover_2008 = pd.read_csv('land_cover_2008.csv')
#zonal_2016 = pd.read_csv('output_zonal_2016.csv')
election = pd.read_csv('countypres_2000-2016.csv')

In [48]:
election

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

In [70]:
election1 = election[['party','candidatevotes']]

In [71]:
election1.transpose()

,0,1,2,3,4,5,6,7,8,9,...,50514,50515,50516,50517,50518,50519,50520,50521,50522,50523
party,democrat,republican,green,NaN,democrat,republican,green,NaN,democrat,republican,...,NaN,democrat,republican,NaN,democrat,republican,NaN,democrat,republican,NaN
candidatevotes,4942,11993,160,113,13997,40872,1033,578,5188,5096,...,1194,3142,1405,1092,2338,1377,895,274,40,28

In [60]:
election['dem_votes'] = election.loc[election['party'] == 'democrat', 'candidatevotes']

In [61]:
election

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,dem_votes
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203,4942.0
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203,NaN
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203,NaN
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203,NaN
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203,13997.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203,NaN
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203,NaN
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203,274.0
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203,NaN
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203,NaN

In [63]:
res = election.groupby(['FIPS', 'year'])['candidatevotes'].sum().reset_index()

In [64]:
res

          FIPS  year  candidatevotes
0       1001.0  2000         17208.0
1       1001.0  2004         20081.0
2       1001.0  2008         23641.0
3       1001.0  2012         23932.0
4       1001.0  2016         24973.0
...        ...   ...             ...
15769  56045.0  2000          3060.0
15770  56045.0  2004          3392.0
15771  56045.0  2008          3414.0
15772  56045.0  2012          3359.0
15773  56045.0  2016          3526.0

[15774 rows x 3 columns]

In [25]:
election = election.dropna()

In [27]:
election['democrat'] = election['party'] =='democrat'

/Users/timdowling/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
election

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,c,democrat
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203,"([4942.0], [])",True
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203,"([], [11993.0])",False
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203,"([], [160.0])",False
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203,"([13997.0], [])",True
5,2000,Alabama,AL,Baldwin,1003.0,President,George W. Bush,republican,40872.0,56480,20191203,"([], [40872.0])",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50513,2016,Alaska,AK,District 38,2038.0,President,Donald Trump,republican,1143.0,5095,20191203,"([], [1143.0])",False
50515,2016,Alaska,AK,District 39,2039.0,President,Hillary Clinton,democrat,3142.0,5639,20191203,"([3142.0], [])",True
50516,2016,Alaska,AK,District 39,2039.0,President,Donald Trump,republican,1405.0,5639,20191203,"([], [1405.0])",False
50518,2016,Alaska,AK,District 40,2040.0,President,Hillary Clinton,democrat,2338.0,4610,20191203,"([2338.0], [])",True
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203,"([], [1377.0])",False

In [41]:
res = election.groupby(['democrat', 'FIPS'])['candidatevotes'].mean().reset_index()
res

      democrat     FIPS  candidatevotes
0        False   1001.0    13383.833333
1        False   1003.0    49174.333333
2        False   1005.0     4651.833333
3        False   1007.0     4821.500000
4        False   1009.0    15702.000000
...        ...      ...             ...
6303      True  56037.0     4899.200000
6304      True  56039.0     6198.000000
6305      True  56041.0     1722.400000
6306      True  56043.0      805.800000
6307      True  56045.0      481.600000

[6308 rows x 3 columns]

In [36]:
election['dem_votes'] = election[election.democrat].groupby('party')['candidatevotes']
election

ValueError: Length of values (1) does not match length of index (34415)

In [23]:
total_votes = election[['FIPS']]\
.groupby(['party','totalvotes']).sum()
total_votes

KeyError: 'party'

In [19]:
def f(row):
    dem = []
    rep = []
    if row['party'] == 'democrat':
        dem.append(row['candidatevotes'])
    else:
        rep.append(row['candidatevotes'])
    return dem, rep

election.apply(f, axis=1)

0         ([4942.0], [])
1        ([], [11993.0])
2          ([], [160.0])
3          ([], [113.0])
4        ([13997.0], [])
              ...
50519     ([], [1377.0])
50520      ([], [895.0])
50521      ([274.0], [])
50522       ([], [40.0])
50523       ([], [28.0])
Length: 50524, dtype: object

In [15]:
dem

NameError: name 'dem' is not defined

In [51]:
land_cover_test = pd.DataFrame(land_cover_test)
land_cover_test = zonal_2016.rename(columns={"HISTO_11": "open_water", "HISTO_12":"ice_snow", "HISTO_21":"open_space","HISTO_22":"low_intensity","HISTO_23":"medium_intensity","HISTO_24":"high_intensity","HISTO_31":"barren_land","HISTO_41":"deciduous_forest","HISTO_42":"evergreen_forest","HISTO_43":"mixed_forest","HISTO_51":"dwarf_scrub","HISTO_52":"shrub_scrub","HISTO_71":"grassland","HISTO_72":"sedge","HISTO_73":'lichens',"HISTO_74":"moss","HISTO_81":"pasture_hay","HISTO_82":"cultivated_crops","HISTO_90":"woody_wetlands","HISTO_95":"emergent_wetlands"})
land_cover_test

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,...,barren_land,deciduous_forest,evergreen_forest,mixed_forest,shrub_scrub,grassland,pasture_hay,cultivated_crops,woody_wetlands,emergent_wetlands
0,31,39,835841,31039,Cuming,Cuming County,6,H1,G4020,NaN,...,1393,19663,1,89,68,118980,14743,1389374,17213,8579
1,53,69,1513275,53069,Wahkiakum,Wahkiakum County,6,H1,G4020,NaN,...,1712,46373,386822,36606,93754,52338,22243,857,19767,51292
2,35,11,933054,35011,De Baca,De Baca County,6,H1,G4020,NaN,...,613,0,115,0,6139758,469597,785,48455,4897,11917
3,31,109,835876,31109,Lancaster,Lancaster County,6,H1,G4020,339.0,...,1012,115178,308,2966,952,537063,48176,1347755,7472,10661
4,31,129,835886,31129,Nuckolls,Nuckolls County,6,H1,G4020,NaN,...,260,43741,0,126,30,527549,1904,1004427,6630,2261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,351260,13123,Gilmer,Gilmer County,6,H1,G4020,NaN,...,680,581927,89202,361135,11797,14589,61035,811,530,219
3230,27,135,659513,27135,Roseau,Roseau County,6,H1,G4020,NaN,...,2187,151102,21646,10937,12790,10462,188880,1881089,1050374,1342245
3231,28,89,695768,28089,Madison,Madison County,6,H1,G4020,298.0,...,713,149308,323951,315165,41305,48134,515026,143553,284625,23649
3232,48,227,1383899,48227,Howard,Howard County,6,H1,G4020,NaN,...,11152,13195,1920,2190,1313784,328884,3392,750090,11423,2675
3233,54,99,1550056,54099,Wayne,Wayne County,6,H1,G4020,170.0,...,3291,1212725,4085,66472,9955,11442,46523,254,273,5

In [ ]:
land_cover_test = land_cover_test[['']]

In [59]:
land_cover_test['total_cover']= land_cover_test.sum(axis=1)
land_cover_test

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,...,deciduous_forest,evergreen_forest,mixed_forest,shrub_scrub,grassland,pasture_hay,cultivated_crops,woody_wetlands,emergent_wetlands,total_cover
0,31,39,835841,31039,Cuming,Cuming County,6,H1,G4020,NaN,...,19663,1,89,68,118980,14743,1389374,17213,8579,2.981712e+09
1,53,69,1513275,53069,Wahkiakum,Wahkiakum County,6,H1,G4020,NaN,...,46373,386822,36606,93754,52338,22243,857,19767,51292,1.489873e+09
2,35,11,933054,35011,De Baca,De Baca County,6,H1,G4020,NaN,...,0,115,0,6139758,469597,785,48455,4897,11917,1.210719e+10
3,31,109,835876,31109,Lancaster,Lancaster County,6,H1,G4020,339.0,...,115178,308,2966,952,537063,48176,1347755,7472,10661,4.390908e+09
4,31,129,835886,31129,Nuckolls,Nuckolls County,6,H1,G4020,NaN,...,43741,0,126,30,527549,1904,1004427,6630,2261,2.987776e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,351260,13123,Gilmer,Gilmer County,6,H1,G4020,NaN,...,581927,89202,361135,11797,14589,61035,811,530,219,2.235549e+09
3230,27,135,659513,27135,Roseau,Roseau County,6,H1,G4020,NaN,...,151102,21646,10937,12790,10462,188880,1881089,1050374,1342245,8.704321e+09
3231,28,89,695768,28089,Madison,Madison County,6,H1,G4020,298.0,...,149308,323951,315165,41305,48134,515026,143553,284625,23649,3.849526e+09
3232,48,227,1383899,48227,Howard,Howard County,6,H1,G4020,NaN,...,13195,1920,2190,1313784,328884,3392,750090,11423,2675,4.691858e+09
3233,54,99,1550056,54099,Wayne,Wayne County,6,H1,G4020,170.0,...,1212725,4085,66472,9955,11442,46523,254,273,5,2.658939e+09

In [76]:
test = 13067+0+52204+15637+2004+718+1393+19663+1+89+68+118980+14743+1389374+17213+8579
test2= 63177+0+41183+7690+1088+153+1712+46373+386822+36606+93754+52338+22243+857+19767+51292
test2

825055

In [77]:
7.618780e

SyntaxError: invalid syntax (<ipython-input-77-66a6e8ae3404>, line 1)

In [73]:
land_cover_test[land_cover_test.columns[-18:]]

,open_water,ice_snow,open_space,low_intensity,medium_intensity,high_intensity,barren_land,deciduous_forest,evergreen_forest,mixed_forest,shrub_scrub,grassland,pasture_hay,cultivated_crops,woody_wetlands,emergent_wetlands,total_cover,real_totals
0,13067,0,52204,15637,2004,718,1393,19663,1,89,68,118980,14743,1389374,17213,8579,NaN,1.640666e+06
1,63177,0,41183,7690,1088,153,1712,46373,386822,36606,93754,52338,22243,857,19767,51292,NaN,7.618780e+05
2,13414,0,23718,3460,771,192,613,0,115,0,6139758,469597,785,48455,4897,11917,NaN,6.704278e+06
3,33960,0,101674,129899,68004,30586,1012,115178,308,2966,952,537063,48176,1347755,7472,10661,NaN,2.401706e+06
4,7583,0,51057,9589,1423,490,260,43741,0,126,30,527549,1904,1004427,6630,2261,NaN,1.649487e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,14000,0,89431,9820,3619,1377,680,581927,89202,361135,11797,14589,61035,811,530,219,3.353324e+09,3.354550e+09
3230,16927,0,109258,27277,3503,872,2187,151102,21646,10937,12790,10462,188880,1881089,1050374,1342245,1.305648e+10,1.306129e+10
3231,76684,0,113483,61177,31272,7366,713,149308,323951,315165,41305,48134,515026,143553,284625,23649,5.774289e+09,5.776348e+09
3232,14288,0,96926,40844,8600,2729,11152,13195,1920,2190,1313784,328884,3392,750090,11423,2675,7.037787e+09,7.040375e+09
3233,18676,0,53093,31921,12544,2506,3291,1212725,4085,66472,9955,11442,46523,254,273,5,3.988409e+09,3.989864e+09

In [71]:
land_cover_test['real_totals']= land_cover_test[land_cover_test.columns[-16:]].sum(axis=1)
land_cover_test

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,...,evergreen_forest,mixed_forest,shrub_scrub,grassland,pasture_hay,cultivated_crops,woody_wetlands,emergent_wetlands,total_cover,real_totals
0,31,39,835841,31039,Cuming,Cuming County,6,H1,G4020,NaN,...,1,89,68,118980,14743,1389374,17213,8579,NaN,1.640666e+06
1,53,69,1513275,53069,Wahkiakum,Wahkiakum County,6,H1,G4020,NaN,...,386822,36606,93754,52338,22243,857,19767,51292,NaN,7.618780e+05
2,35,11,933054,35011,De Baca,De Baca County,6,H1,G4020,NaN,...,115,0,6139758,469597,785,48455,4897,11917,NaN,6.704278e+06
3,31,109,835876,31109,Lancaster,Lancaster County,6,H1,G4020,339.0,...,308,2966,952,537063,48176,1347755,7472,10661,NaN,2.401706e+06
4,31,129,835886,31129,Nuckolls,Nuckolls County,6,H1,G4020,NaN,...,0,126,30,527549,1904,1004427,6630,2261,NaN,1.649487e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,351260,13123,Gilmer,Gilmer County,6,H1,G4020,NaN,...,89202,361135,11797,14589,61035,811,530,219,3.353324e+09,3.354550e+09
3230,27,135,659513,27135,Roseau,Roseau County,6,H1,G4020,NaN,...,21646,10937,12790,10462,188880,1881089,1050374,1342245,1.305648e+10,1.306129e+10
3231,28,89,695768,28089,Madison,Madison County,6,H1,G4020,298.0,...,323951,315165,41305,48134,515026,143553,284625,23649,5.774289e+09,5.776348e+09
3232,48,227,1383899,48227,Howard,Howard County,6,H1,G4020,NaN,...,1920,2190,1313784,328884,3392,750090,11423,2675,7.037787e+09,7.040375e+09
3233,54,99,1550056,54099,Wayne,Wayne County,6,H1,G4020,170.0,...,4085,66472,9955,11442,46523,254,273,5,3.988409e+09,3.989864e+09

In [83]:
non_zero = []

test = land_cover_test['real_totals']

for i in test:
    if i != 0:
        non_zero.append(i)
len(non_zero)

3108

In [84]:
test

0       1.640666e+06
1       7.618780e+05
2       6.704278e+06
3       2.401706e+06
4       1.649487e+06
            ...
3229    3.354550e+09
3230    1.306129e+10
3231    5.776348e+09
3232    7.040375e+09
3233    3.989864e+09
Name: real_totals, Length: 3234, dtype: float64

In [61]:
land_cover_test['total_cover']= land_cover_test.iloc[-16:].sum(axis=1)
land_cover_test

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,...,deciduous_forest,evergreen_forest,mixed_forest,shrub_scrub,grassland,pasture_hay,cultivated_crops,woody_wetlands,emergent_wetlands,total_cover
0,31,39,835841,31039,Cuming,Cuming County,6,H1,G4020,NaN,...,19663,1,89,68,118980,14743,1389374,17213,8579,NaN
1,53,69,1513275,53069,Wahkiakum,Wahkiakum County,6,H1,G4020,NaN,...,46373,386822,36606,93754,52338,22243,857,19767,51292,NaN
2,35,11,933054,35011,De Baca,De Baca County,6,H1,G4020,NaN,...,0,115,0,6139758,469597,785,48455,4897,11917,NaN
3,31,109,835876,31109,Lancaster,Lancaster County,6,H1,G4020,339.0,...,115178,308,2966,952,537063,48176,1347755,7472,10661,NaN
4,31,129,835886,31129,Nuckolls,Nuckolls County,6,H1,G4020,NaN,...,43741,0,126,30,527549,1904,1004427,6630,2261,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,351260,13123,Gilmer,Gilmer County,6,H1,G4020,NaN,...,581927,89202,361135,11797,14589,61035,811,530,219,3.353324e+09
3230,27,135,659513,27135,Roseau,Roseau County,6,H1,G4020,NaN,...,151102,21646,10937,12790,10462,188880,1881089,1050374,1342245,1.305648e+10
3231,28,89,695768,28089,Madison,Madison County,6,H1,G4020,298.0,...,149308,323951,315165,41305,48134,515026,143553,284625,23649,5.774289e+09
3232,48,227,1383899,48227,Howard,Howard County,6,H1,G4020,NaN,...,13195,1920,2190,1313784,328884,3392,750090,11423,2675,7.037787e+09
3233,54,99,1550056,54099,Wayne,Wayne County,6,H1,G4020,170.0,...,1212725,4085,66472,9955,11442,46523,254,273,5,3.988409e+09

In [ ]:
low_intensity = land_cover_test['low_intensity']
low_intensity = list(low_intensity)

open_space = land_cover_test['open_space']
open_space = list(open_space)

medium_intensity = land_cover_test['medium_intensity']
medium_intensity = list(medium_intensity)

high_intensity = land_cover_test['high_intensity']
high_intensity = list(high_intensity)

In [32]:
zonal_2016

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,...,HISTO_31,HISTO_41,HISTO_42,HISTO_43,HISTO_52,HISTO_71,HISTO_81,HISTO_82,HISTO_90,HISTO_95
0,31,39,835841,31039,Cuming,Cuming County,6,H1,G4020,NaN,...,1393,19663,1,89,68,118980,14743,1389374,17213,8579
1,53,69,1513275,53069,Wahkiakum,Wahkiakum County,6,H1,G4020,NaN,...,1712,46373,386822,36606,93754,52338,22243,857,19767,51292
2,35,11,933054,35011,De Baca,De Baca County,6,H1,G4020,NaN,...,613,0,115,0,6139758,469597,785,48455,4897,11917
3,31,109,835876,31109,Lancaster,Lancaster County,6,H1,G4020,339.0,...,1012,115178,308,2966,952,537063,48176,1347755,7472,10661
4,31,129,835886,31129,Nuckolls,Nuckolls County,6,H1,G4020,NaN,...,260,43741,0,126,30,527549,1904,1004427,6630,2261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,13,123,351260,13123,Gilmer,Gilmer County,6,H1,G4020,NaN,...,680,581927,89202,361135,11797,14589,61035,811,530,219
3230,27,135,659513,27135,Roseau,Roseau County,6,H1,G4020,NaN,...,2187,151102,21646,10937,12790,10462,188880,1881089,1050374,1342245
3231,28,89,695768,28089,Madison,Madison County,6,H1,G4020,298.0,...,713,149308,323951,315165,41305,48134,515026,143553,284625,23649
3232,48,227,1383899,48227,Howard,Howard County,6,H1,G4020,NaN,...,11152,13195,1920,2190,1313784,328884,3392,750090,11423,2675
3233,54,99,1550056,54099,Wayne,Wayne County,6,H1,G4020,170.0,...,3291,1212725,4085,66472,9955,11442,46523,254,273,5

In [7]:
land_cover_2004.append(land_cover_2008, ignore_index=True)

,STATEFP,COUNTYFP,NAMELSAD,pct_sub_2004,pct_urban_2004,pct_forest_2004,pct_agri_2004,unique,pct_sub_2008,pct_urban_2008,pct_forest_2008,pct_agri_2008
0,53,69,Wahkiakum County,0.060512,0.000181,0.548271,0.028291,15,NaN,NaN,NaN,NaN
1,35,11,De Baca County,0.004146,0.000027,0.000035,0.006708,13,NaN,NaN,NaN,NaN
2,31,109,Lancaster County,0.111214,0.010180,0.049211,0.552595,15,NaN,NaN,NaN,NaN
3,31,129,Nuckolls County,0.037214,0.000270,0.026550,0.579352,14,NaN,NaN,NaN,NaN
4,46,99,Minnehaha County,0.092424,0.006433,0.013323,0.819088,15,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4586,13,123,Gilmer County,NaN,NaN,NaN,NaN,15,0.081626,0.000978,0.819618,0.050391
4587,27,135,Roseau County,NaN,NaN,NaN,NaN,16,0.028786,0.000158,0.038151,0.423806
4588,28,89,Madison County,NaN,NaN,NaN,NaN,15,0.089328,0.002742,0.360264,0.317908
4589,48,227,Howard County,NaN,NaN,NaN,NaN,15,0.046986,0.000832,0.006751,0.279573
4590,54,99,Wayne County,NaN,NaN,NaN,NaN,15,0.063500,0.001547,0.863790,0.034280

In [38]:
land_cover_2013

,STATEFP,COUNTYFP,NAMELSAD,pct_sub_2013,pct_urban_2013,pct_forest_2013,pct_agri_2013,unique
0,31,39,Cuming County,0.041952,0.000417,0.011971,0.847563,15
1,53,69,Wahkiakum County,0.060537,0.000184,0.499502,0.028020,15
2,35,11,De Baca County,0.004160,0.000027,0.000018,0.006783,13
3,31,109,Lancaster County,0.121389,0.012194,0.048711,0.564299,15
4,31,129,Nuckolls County,0.037256,0.000286,0.026505,0.604279,14
...,...,...,...,...,...,...,...,...
2455,40,47,Garfield County,0.061867,0.002789,0.024200,0.577465,15
2456,53,59,Skamania County,0.040037,0.000482,0.776125,0.003652,16
2457,26,91,Lenawee County,0.085797,0.003402,0.091274,0.709340,15
2458,27,135,Roseau County,0.028896,0.000172,0.037441,0.423815,16
2459,54,99,Wayne County,0.063596,0.001595,0.867988,0.032830,15

In [48]:
pd.concat([land_cover_2013, land_cover_2016], sort=True)

,COUNTYFP,NAME,NAMELSAD,STATEFP,pct_agri_2013,pct_agri_2016,pct_forest_2013,pct_forest_2016,pct_sub_2013,pct_sub_2016,pct_urban_2013,pct_urban_2016,unique
0,39,NaN,Cuming County,31,0.847563,NaN,0.011971,NaN,0.041952,NaN,0.000417,NaN,15
1,69,NaN,Wahkiakum County,53,0.028020,NaN,0.499502,NaN,0.060537,NaN,0.000184,NaN,15
2,11,NaN,De Baca County,35,0.006783,NaN,0.000018,NaN,0.004160,NaN,0.000027,NaN,13
3,109,NaN,Lancaster County,31,0.564299,NaN,0.048711,NaN,0.121389,NaN,0.012194,NaN,15
4,129,NaN,Nuckolls County,31,0.604279,NaN,0.026505,NaN,0.037256,NaN,0.000286,NaN,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2192,123,Gilmer,Gilmer County,13,NaN,0.049869,NaN,0.832356,NaN,0.082948,NaN,0.001110,15
2193,135,Roseau,Roseau County,27,NaN,0.428593,NaN,0.038033,NaN,0.028995,NaN,0.000181,16
2194,89,Madison,Madison County,28,NaN,0.308409,NaN,0.369214,NaN,0.096437,NaN,0.003449,15
2195,227,Howard,Howard County,48,NaN,0.289568,NaN,0.006650,NaN,0.056251,NaN,0.001049,15
2196,99,Wayne,Wayne County,54,NaN,0.031740,NaN,0.870751,NaN,0.066196,NaN,0.001700,15

In [12]:
bungus = pd.merge(land_cover_2013, land_cover_2016)
bungus

,STATEFP,COUNTYFP,NAMELSAD,pct_sub_2013,pct_urban_2013,pct_forest_2013,pct_agri_2013,unique,NAME,pct_sub_2016,pct_urban_2016,pct_forest_2016,pct_agri_2016
0,35,11,De Baca County,0.004160,0.000027,0.000018,0.006783,13,De Baca,0.004161,0.000029,0.000017,0.007330
1,31,129,Nuckolls County,0.037256,0.000286,0.026505,0.604279,14,Nuckolls,0.037457,0.000296,0.026473,0.607295
2,46,99,Minnehaha County,0.099460,0.007728,0.013314,0.814142,15,Minnehaha,0.101924,0.008316,0.013281,0.812395
3,6,91,Sierra County,0.014654,0.000073,0.634218,0.001994,16,Sierra,0.014658,0.000073,0.647802,0.002378
4,39,63,Hancock County,0.099549,0.005606,0.061833,0.814549,15,Hancock,0.099926,0.005815,0.061778,0.814005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,40,47,Garfield County,0.061867,0.002789,0.024200,0.577465,15,Garfield,0.062877,0.002979,0.024256,0.581012
1629,53,59,Skamania County,0.040037,0.000482,0.776125,0.003652,16,Skamania,0.040053,0.000483,0.773924,0.003610
1630,26,91,Lenawee County,0.085797,0.003402,0.091274,0.709340,15,Lenawee,0.085658,0.003451,0.091076,0.709450
1631,27,135,Roseau County,0.028896,0.000172,0.037441,0.423815,16,Roseau,0.028995,0.000181,0.038033,0.428593
1632,54,99,Wayne County,0.063596,0.001595,0.867988,0.032830,15,Wayne,0.066196,0.001700,0.870751,0.031740

In [13]:
test = land_cover_2004 
test

,STATEFP,COUNTYFP,NAMELSAD,pct_sub_2004,pct_urban_2004,pct_forest_2004,pct_agri_2004,unique
0,53,69,Wahkiakum County,0.060512,0.000181,0.548271,0.028291,15
1,35,11,De Baca County,0.004146,0.000027,0.000035,0.006708,13
2,31,109,Lancaster County,0.111214,0.010180,0.049211,0.552595,15
3,31,129,Nuckolls County,0.037214,0.000270,0.026550,0.579352,14
4,46,99,Minnehaha County,0.092424,0.006433,0.013323,0.819088,15
...,...,...,...,...,...,...,...,...
2466,21,233,Webster County,0.050831,0.000857,0.337744,0.553469,15
2467,40,47,Garfield County,0.060792,0.002537,0.024425,0.577945,15
2468,13,123,Gilmer County,0.079974,0.000556,0.812971,0.050808,15
2469,28,89,Madison County,0.071265,0.001296,0.358235,0.336799,15
2470,54,99,Wayne County,0.062861,0.001468,0.867239,0.034607,15

In [15]:
bungus =  pd.wide_to_long(test, ["pct"], i="NAMELSAD", j="year_land")

ValueError: the id variables need to uniquely identify each row

In [20]:
pd.melt(test, id_vars='NAMELSAD', value_vars=["pct_sub_2004"])

              NAMELSAD      variable     value
0     Wahkiakum County  pct_sub_2004  0.060512
1       De Baca County  pct_sub_2004  0.004146
2     Lancaster County  pct_sub_2004  0.111214
3      Nuckolls County  pct_sub_2004  0.037214
4     Minnehaha County  pct_sub_2004  0.092424
...                ...           ...       ...
2466    Webster County  pct_sub_2004  0.050831
2467   Garfield County  pct_sub_2004  0.060792
2468     Gilmer County  pct_sub_2004  0.079974
2469    Madison County  pct_sub_2004  0.071265
2470      Wayne County  pct_sub_2004  0.062861

[2471 rows x 3 columns]

In [23]:
land_cover = land_cover.rename(columns={"NAMELSAD": "county_name"})

In [24]:
land_cover.head()

,STATEFP,COUNTYFP,NAME,county_name,pct_sub_2016,pct_urban_2016,pct_forest_2016,pct_agri_2016,unique
0,35,11,De Baca,De Baca County,0.004161,0.000029,0.000017,0.007330,13
1,31,129,Nuckolls,Nuckolls County,0.037457,0.000296,0.026473,0.607295,14
2,46,99,Minnehaha,Minnehaha County,0.101924,0.008316,0.013281,0.812395,15
3,6,91,Sierra,Sierra County,0.014658,0.000073,0.647802,0.002378,16
4,39,63,Hancock,Hancock County,0.099926,0.005815,0.061778,0.814005,15

In [31]:
master_test=

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,STATEFP,COUNTYFP,NAME,pct_sub_2016,pct_urban_2016,pct_forest_2016,pct_agri_2016,unique
0,0,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10783,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,30.0,99.0,Teton,0.013734,0.000035,0.102049,0.313096,15.0
10784,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,56.0,39.0,Teton,0.004951,0.000022,0.459084,0.003594,16.0
10785,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10786,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,56.0,43.0,Washakie,0.007100,0.000140,0.052797,0.033752,16.0
10787,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,56.0,45.0,Weston,0.005678,0.000071,0.068652,0.006020,15.0